{% extends "store/base.html" %}
{% load static %}

{% block title %}Оплата заказа{% endblock %}

{% block content %}
  <h1>Ваш заказ</h1>
  <table class="cart">
    <thead>
      <tr>
        <th>Фото товара</th>
        <th>Название</th>
        <th>Цена за 1 шт.</th>
        <th>Кол-во</th>
        <th>Общая цена</th>
      </tr>
    </thead>
    <tbody>
      {% for item in order.items.all %}
        <tr class="row{% cycle '1' '2' %}">
          <td>
            <img src="{% if item.product.image %}{{ item.product.image.url }}
            {% else %}{% static 'img/no_image.png' %}{% endif %}">
          </td>
          <td>{{ item.product.name }}</td>
          <td class="num">{{ item.price }}₽</td>
          <td class="num">{{ item.quantity }}</td>
          <td class="num">{{ item.get_cost }}₽</td>
        </tr>
      {% endfor %}
      {% if order.coupon %}
        <tr class="subtotal">
          <td>Подытог</td>
          <td colspan="3"></td>
          <td class="num">
          {{ order.get_total_cost_before_discount|floatformat:2 }}₽
          </td>
        </tr>
        <tr>
          <td>
          Промокод "{{ order.coupon.code }}"
          (скидка {{ order.discount }}%)
          </td>
          <td colspan="3"></td>
          <td class="num neg">
          - {{ order.get_discount|floatformat:2 }}₽
          </td>
        </tr>
        <tr class="total">
          <td>Итого</td>
          <td colspan="3"></td>
          <td class="num">
          {{ order.get_total_cost|floatformat:2 }}₽
          </td>
        </tr>
      {% endif %}
    </tbody>
  </table>
  <form action="{% url 'payment:process' %}" method="post">
    <input type="submit" value="Оплатить сейчас">
    {% csrf_token %}
  </form>
{% endblock %}